<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/css/box1.css">
    </head>
    <body>
        <div class="container">
            <div class="box" id="box1">
                <article class="text"><b>Starting ₹349 | Bestselling headphones</b></article>
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/GW/CC/R01_Headphones_Desktop_Cat_Card_2x._SY608_CB575831742_.jpg" class="center"/></div>
                <div class="anchor"><p><a href="b">See all offers</a></p></div>
            </div>


            <div class="box" id="box2">
                <article class="text"><b>Starting ₹199 | Shoes & handbags</b></article>
            <div class="main_div">
                <div class="upper">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/Jupiter_2023/PCQC/Revised1/Hi_res_sports-min-min._SY232_CB577518799_.png"/>
                    <p>Sports shoes | Upto <br>40% off</p>
                    </div>
            
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/Jupiter_2023/PCQC/Revised1/hi_res_men_shoes._SY232_CB577505903_.jpg"/>
                    <p>Men's Shoes</p>
                    </div>
                </div>

                <div class="lower">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/Jupiter_2023/PCQC/Revised1/Hi_res_heel._SY232_CB577506229_.jpg"/>
                    <p>Women's Shoes</p>
                    </div>
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/Jupiter_2023/PCQC/Revised1/hb_low._SY116_CB577519404_.png"/>
                    <p>Handbags</p>
                    </div>
                </div>
            </div>
                <div class="anchor"><p><a href="b">See all offers</a></p></div>
            </div>


            <div class="box" id="box3">
                <article class="text"><b>Great offers on wide range of TVs</b></article>
            <div class="main_div">
                <div class="upper">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG23/TVs/Sabeer/JUP_23/2x_Desktop_Quad_card_w_title_-_Card_1_copy_4_updated._SY232_CB575872363_.jpg"/>
                    <p>Budget TVs | Up to<br> 60% off</p>
                    </div>
            
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG23/TVs/Sabeer/JUP_23/2x_Desktop_Quad_card_w_title_-_Card_1_copy_3._SY232_CB575872363_.jpg"/>
                    <p>4K TVs | Up to 12 <br>months No Cost EMI</p>
                    </div>
                </div>

                <div class="lower">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG23/TVs/Sabeer/JUP_23/2x_Desktop_Quad_card_w_title_-_Card_1_copy_2._SY232_CB575872363_.jpg"/>
                    <p>Big Screens | Up to 3<br> years warranty</p>
                    </div>
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG23/TVs/Sabeer/JUP_23/2x_Desktop_Quad_card_w_title_-_Card_1_copy._SY232_CB575872363_.jpg"/>
                    <p>Ultra Premium TVs |<br> Up to 50% off</p>
                    </div>
                </div>
            </div>
                <div class="anchor"><p><a href="b">See all offers</a></p></div>  
            </div>


            <div class="box" id="box4">
                <article class="text"><b>Up to 40% off | Deals on popular brands</b></article>
            <div class="main_div">
                <div class="upper">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/MSO/jupiterUpdated/Jupiter1_Desktop_QuadImageCard_372X232_2._SY232_CB577713102_.jpg"/>
                    <p>Savings upto ₹14,000 <br> | 40% off</p>
                    </div>
            
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/MSO/jupiterUpdated/Jupiter1_Desktop_QuadImageCard_372X232_4._SY232_CB577713102_.jpg"/>
                    <p>Savings upto ₹20,000</p>
                    </div>
                </div>

                <div class="lower">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/MSO/jupiterUpdated/Jupiter1_Desktop_QuadImageCard_372X232_6._SY232_CB577713102_.jpg"/>
                    <p>Savings upto ₹8,000</p>
                    </div>
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/MSO/jupiterUpdated/Jupiter1_Desktop_QuadImageCard_372X232_3._SY232_CB577713102_.jpg"/>
                    <p>Savings upto ₹7,500</p>
                    </div>
                </div>
            </div>
                <div class="anchor"><p><a href="b">See all offers</a></p></div>
            </div>


            <div class="box" id="box5">
                <article class="text"><b>Up to 80% off | Laptops, smartwatches</b></article>
                <article><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Scroll/Camera/Topdeal/n/Desktop_CC_2X._SY608_CB575822413_.jpg" class="center"/></article>
                <div  class="anchor"><p><a href="b">See all offers</a></p></div>
            </div>


            <div class="box" id="box6">
                <article class="text"><b>Up to 60% off | Top offers on home</b></article>
            <div class="main_div">
                <div class="upper">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/Jup23/02-Ref-2x._SY232_CB577612800_.jpg"/>
                    <p>Refrigerators | Up to<br>60% off</p>
                    </div>
            
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/Jup23/01-WM-2x._SY232_CB577612800_.jpg"/>
                    <p>Washing machines | Up<br> to 65% off</p>
                    </div>
                </div>

                <div class="lower">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/Jup23/03-AC-2x._SY232_CB577612800_.jpg"/>
                    <p>AC | Starting 19,999</p>
                    </div>
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/Jup23/04-MWO-2x._SY232_CB577612800_.jpg"/>
                    <p>Microwaves | Up to<br> 60% off</p>
                    </div>
                </div>
            </div>
                <div  class="anchor"><p><a href="b">See all offers</a></p></div>
            </div>


            <div class="box" id="box7">
                <article class="text"><b>Min. 60% off | Water bottles, lunch boxes</b></article>
            <div class="main_div">
                <div class="upper">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/CookwareDining/Aman/Jupiter/MSO/Cookwarels._SY232_CB576372063_.jpg"/>
                    <p>Under ₹499 | Pots, <br>pans & more</p>
                    </div>
            
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/CookwareDining/Aman/Jupiter/MSO/Kitchen_storage._SY232_CB576372063_.jpg"/>
                    <p>Min. 60% off | Kitchen<br> jars & containers</p>
                    </div>
                </div>

                <div class="lower">
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/CookwareDining/Aman/Jupiter/MSO/Kitchen_accessories._SY232_CB576372063_.jpg"/>
                    <p>Under ₹299 | Kitchen<br> accessories & more</p>
                    </div>
                    <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/CookwareDining/Aman/Jupiter/MSO/Lunch_box__water_bottles._SY232_CB576372063_.jpg"/>
                    <p>Under ₹499 | Bottles,<br> lunch boxes & more</p>
                    </div>
                </div>
            </div>
                <div class="anchor"><p><a href="b">See all offers</a></p></div>
            </div>
            

            <div class="box" id="box8">
                <article class="text"><b>Great Indian Festival | Shop all deals</b></article>
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/Events/img23/Jupiter23/Homepage/PC_CC_Event_2X_EN._SY608_CB576157745_.jpg" class="center"/></div>
                <div class="anchor"><p><a href="b">See all offers</a></p></div>
            </div>
</body>
</html>