<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/box2.css">
</head>
<body>
    <div class="container">
        <div class="box" id="box9">
            <article class="text"><b>Minimum 50% off | Restyle your home</b></article>
        <div class="main_div">
            <div class="upper">
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2023/Jupiter/QCandCC/PCQCRevised/Curtain_372x232_QC_PC_5._SY232_CB575816590_.jpg"/>
                <p>Curtains | Upto <br>40% off</p>
                </div>
        
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2023/Jupiter/QCandCC/PCQCRevised/Functional_Lighting-1_372_232._SY232_CB575816590_.jpg"/>
                <p>Flood Lamps</p>
                </div>
            </div>

            <div class="lower">
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2023/Jupiter/QCandCC/PCQCRevised/Under-Bed-Storage-1-372x232._SY232_CB575816590_.jpg"/>
                <p>Under bed storage</p>
                </div>
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2023/Jupiter/QCandCC/PCQCRevised/Showpieces-2_372x232._SY232_CB575816590_.jpg"/>
                <p>Showpieces and idols</p>
                </div>
            </div>
        </div>
            <div class="anchor"><p><a href="b">See all offers</a></p></div>
        </div>

        <div class="box" id="box10">
            <article class="text"><b>Min. 60% off | Home, kitchen & furniture</b></article>
        <div class="main_div">
            <div class="upper">
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/Launchpad/3PA-23/GW/28Oct/1H._SY232_CB575274967_.jpg"/>
                <p>Furniture | Upto</p>
                <p>60% off</p>
                </div>
        
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/Launchpad/3PA-23/GW/28Oct/2H._SY232_CB575274967_.jpg"/>
                <p>Home Decor</p>
                </div>
            </div>

            <div class="lower">
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/Launchpad/3PA-23/GW/28Oct/3H._SY232_CB575274967_.jpg"/>
                <p>Home furnishing</p>
                </div>
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/Launchpad/3PA-23/GW/28Oct/4H._SY232_CB575274967_.jpg"/>
                <p>Kitchen and Dining</p>
                </div>
            </div>
        </div>
            <div class="anchor"><p><a href="b">See all offers</a></p></div>  
        </div>


        <div class="box" id="box11">
            <article class="text"><b>Up to 70% off | Deals on Amazon Brands</b></article>
        <div class="main_div">
            <div class="upper">
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/Oct/Jupiter23/Gateway/HomeDecor_Light4_QuadImageCard_2x_372X2321._SY232_CB575267810_.jpg"/>
                <p>Starting Rs 169 | Home <br> Products</p>
                </div>
        
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/Oct/Jupiter23/Gateway/QC_PC_372x232_2_2x._SY232_CB574725583_.jpg"/>
                <p>Upto 65% off | Lighting</p>
                <p>& Decor</p>
                </div>
            </div>

            <div class="lower">
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/Oct/Jupiter23/Gateway/HomeDecor_DryFruit_QuadImageCard_2x_372X232._SY232_CB575267810_.jpg"/>
                <p>Starting Rs 99 | Dry</p>
                <p>Fruits, nuts and more</p>
                </div>
                <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/Symbol/2023/Jupiter23/Gateway/Desktop/QC/New/Ethnic_Desktop_QC_2x._SY232_CB576486737_.jpg"/>
                <p>Min. 60% off | Festive</p>
                <p>collections</p>
                </div>
            </div>
        </div>
            <div class="anchor"><p><a href="b">See all offers</a></p></div>
        </div>

        <div class="box" id="box12">
            <article class="text"><b>Up to 40% off | Deals on mobiles & accessory</b></article>
            <div><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/Jupiter/Phase3/MSO/D101846224_IN_WLD_Jup23_MSO_Uber_P3_Phase3_Desktop_CC_379x304_1._SY608_CB575323490_.jpg" class="center"/></div>
            <div class="anchor"><p><a href="b">See all offers</a></p></div>
        </div>
    </div>
</body>
</html>