<!-- Corrected Code  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/ShopDeals.css">
    
</head>
<body>
    
    <div class="heading">
        <h2> Shop deals in top categories </h2>
        <a href="a"> <h5> Explore all categories </h5> </a>
    </div>

    <div class="shopdealcontainer">
    
        <div class="shopdeals_button_container">
        <button class="shopdeals_button" id ="shopdeals_button_prev">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <button class="shopdeals_button" id ="shopdeals_button_next">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
    
    <div class="shopdeals_product_list">
        <a href="a"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/lshruthi/Jupiter/CentralPage/P2/200/D96279181_INWLD_Jupiter_CentralPage-Inputs_DesktopShoveler_200x200._CB574628988_.jpg"> </a>
        <a href="a"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/phase3/footercard/DesktopShoveler_200x200._CB576470749_.jpg"> </a>
        <a href="a"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/OHL/23/Central/BAU/Shoveler/P3/DesktopShoveler_400x400_eng_1x._CB574622737_.jpg"> </a>
        <a href="a"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG_22/Varun/Jupiter23/Ref/Red_Hot/DesktopShoveler_400x400-2_English-._CB575339500_.jpg"> </a>
        <a href="a"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/Gateway/Jup/Phase3/Eng_200x200._CB574633783_.jpg"> </a>
        <a href="a"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/HPC/Jupiter23/Central_Team/DesktopShoveler_200x200_English_Phase_3._CB574885161_.jpg"> </a>
        <a href="a"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Media/Jupiter/DesktopShoveler_200x200_Media_Phase_2._CB574900590_.jpg"> </a>
        <a href="a"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/Sept23/Jupiter/CentralCampaign/DesktopShoveler_200x200_English._CB574909675_.jpg"> </a>
        <a href="a"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/OOOp2JUPITERpcShoveler/PC_Shoveler_200x200_English._CB576578496_.jpg"> </a>
        
    </div>
</div>

    <script src="/static/js/javascript(SD).js" type="module"></script>
    <script src="/static/js/javascript.js" type="module"></script>
</body>
</html>