
    <!-- Title -->
    <div class="state_sign_in" align="center">

        <hr class="horizontalLine">


        <div class="sign_in_button">
            <div class="title">
                See personalized recommendations
            </div>
    <!-- Button -->
            <div class="action_button">
                    <a href="a">
                    <div class="action_inner" width="50px">
                        Sign in
                    </div> </a>
            </div>
    <!-- New Customer -->
            <div class="new_customer">
                New Customer ?
                <a class="new_customer" href="a"> Start here </a>
            </div>
        </div>
    <hr  class="horizontalLine">

    </div>
    