
    
    <div class="heading">
        <h2> Starting ₹799 | Bestselling smartwatches from top brands </h2>
        <a href="a"> <h5> See all offers </h5> </a>
    </div>
<div class="watchcontainer">
    <div class="smartwatches_button_container">
        <button class="smartwatches_button" id ="smartwatches_button_prev">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <button class="smartwatches_button" id ="smartwatches_button_next">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
    
    <div class="smartwatches_product_list">
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61y2VVWcGBL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61BY9Mhhj2L._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61yhPPcmesL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61AHiYyu3ZL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/71IqWwSIxwL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61ArSKA048L._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/71wXX5IRnzL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61MzIOubB+L._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/714vvt0LLOL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61TapeOXotL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61SSVxTSs3L._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/612wtQLapiL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61QMPHGyc2L._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61FZ83ArEwL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61MnrUAKACL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61TXR+7EpUL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/71SgNv5gscL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61OX9TeN0VL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61MiGs5Av5L._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61S9QZf9wqL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61XagxJAEIL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/71JZ8HrIe0L._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/71HuF0TMwSL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/71wXX5IRnzL._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61SSVxTSs3L._AC_SY200_.jpg"> </a>
        <a href="a"> <img src="https://m.media-amazon.com/images/I/61YTjbpBTTL._AC_SY200_.jpg"> </a>

        
    </div>
</div>

    <script src="/static/js/javascript.js" type="module"></script>
