<!-- Corrected Code  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/TrendingDeals.css">
    
</head>
<body>
    <section class="blockbuster_deals_container">
        <div class="heading">
            <h2> Trending deals </h2>
            <a href="a"> <h5> See all deals </h5> </a>
        </div>
        
        <div class="blockbusters_deal_product_container">
            <div class="blockbuster_deals_button_container">
                <button class="blockbuster_deals_button" id="blockbuster_deals_button_prev">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
                <button class="blockbuster_deals_button" id="blockbuster_deals_button_next">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
            <div class="blockbusters_deal_product_list">
                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/51trWgIqvbL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> ₹104 and under </a>
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Exciting offers on Lexton String Light  </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/41S9FWgv3-L._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> ₹329 and under </a> 
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Amazing Solimo Wax Tealight Candles </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/71cF5caTObL._SL1176__AC_SY200_.jpg"  class="center">
                    <div class="discount_container" >
                        <a href="a"> ₹99 </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Crazy Deals on Status Door Mats </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/61rw-4Q8xcL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> ₹199 </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Best of BSB Home Bedsheets </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/61uRa34lyyL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> 90% off </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Rice lights for Home Decoration </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/41GOGnogWWL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> 84% off </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Decorative 42 Warm White LED String 
                         </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/41kcDbjR5sL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> 40% off </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> PHILIPS Starlit 12 Mt 72 LEDs String </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/51aZmQpxvlL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> 74% off </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Ascension Rangoli Powder Bottles </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/51sTh9UmJwL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> 85% off </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Cockatoo Shoe Bag for Travel & Storage </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/41EpcFQNeQL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> 53% off </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Amazon Presto Total Wash Detergent</p>
                    </div>
                </div>
                
                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/51WsdTQoCaL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> Up to 47% off </a> 
                        <a href="a"> Great Indian Festival </a>
                    </div> 
                    <div class="alt">
                        <p> Box Facial Tissues Pack of 4-100 Pulls 
                            2 PlyBox </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://images-eu.ssl-images-amazon.com/images/I/61VuVU94RnL._AC_UL450_SR450,320_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> ₹50,499.00 </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Apple iPhone 13(128GB) </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/51nRSOvjSLL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> ₹499 </a> &thinsp;
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Amazon Basics Bluetooth 5.0 Neckband  </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/51fw4NpIGcL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> ₹265 </a> &thinsp; 
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Maybelline New York Mascara  </p>
                    </div>
                </div>

                <div class="blockbusters_deals_product_item">
                    <img src="https://m.media-amazon.com/images/I/51Q6Qrh+zGL._AC_SY200_.jpg" class="center">
                    <div class="discount_container">
                        <a href="a"> ₹199 </a> &thinsp; 
                        <a href="a"> Great Indian Festival </a>
                    </div>
                    <div class="alt">
                        <p> Best of BSB Home Bedsheets  </p>
                    </div>
                </div>

                

            </div>
        </div>
    </section>

    <script src="/static/js/javascript(TD).js" type="module"></script>
    <script src="/static/js/TrendingDeals.js" type="module"></script>
</body>
</html>